---
const { data } = Astro.props;
---

<section id="about">
  <span class="section-title">{data?.menu.profile}</span>
  <div set:html={data?.about} />
</section>

<style>
  section {
    font-size: 1.1rem;
  }
  p {
    color: var(--text-secondary);
  }
</style>
