---
import { Image } from "astro:assets";
import { CHIPS_TAGS } from "../consts.js";
import js from "../assets/dev/js.svg";
import react from "../assets/dev/react.svg";
import bootstrap from "../assets/dev/bootstrap.svg";
import css from "../assets/dev/css.svg";
import html from "../assets/dev/html.svg";
import vitest from "../assets/dev/vitest.svg";
import cypress from "../assets/dev/cypress.svg";
import python from "../assets/dev/python.svg";
import flask from "../assets/dev/flask.svg";
import postgre from "../assets/dev/postgre.svg";
import node from "../assets/dev/node.svg";
import astro from "../assets/dev/astro.svg";
import c from "../assets/dev/c.svg";
import java from "../assets/dev/java.svg";
import jwt from "../assets/dev/jwt.svg";
import mariadb from "../assets/dev/mariadb.svg";
import mui from "../assets/dev/mui.svg";
import mysql from "../assets/dev/mysql.svg";
import next from "../assets/dev/next.svg";
import reactRouter from "../assets/dev/react-router.svg";
import spring from "../assets/dev/spring.svg";
import typescript from "../assets/dev/typescript.svg";
import tailwind from "../assets/dev/tailwind.svg";
import redux from "../assets/dev/redux.svg";
import express from "../assets/dev/express.svg";

const { data } = Astro.props;
const chipData = {
  [CHIPS_TAGS.JAVASCRIPT]: {
    image: js,
    name: "JavaScript",
  },
  [CHIPS_TAGS.REACT]: {
    image: react,
    name: "React",
  },
  [CHIPS_TAGS.HTML]: {
    image: html,
    name: "HTML",
  },
  [CHIPS_TAGS.CSS]: {
    image: css,
    name: "CSS",
  },
  [CHIPS_TAGS.BOOTSTRAP]: {
    image: bootstrap,
    name: "Bootstrap",
  },
  [CHIPS_TAGS.VITEST]: {
    image: vitest,
    name: "Vitest",
  },
  [CHIPS_TAGS.CYPRESS]: {
    image: cypress,
    name: "Cypress",
  },
  [CHIPS_TAGS.PYTHON]: {
    image: python,
    name: "Python",
  },
  [CHIPS_TAGS.FLASK]: {
    image: flask,
    name: "Flask",
  },
  [CHIPS_TAGS.POSTGRE]: {
    image: postgre,
    name: "PostgreSQL",
  },
  [CHIPS_TAGS.NODE]: {
    image: node,
    name: "Node.js",
  },
  [CHIPS_TAGS.ASTRO]: {
    image: astro,
    name: "Astro",
  },
  [CHIPS_TAGS.C]: {
    image: c,
    name: "C",
  },
  [CHIPS_TAGS.JAVA]: {
    image: java,
    name: "Java",
  },
  [CHIPS_TAGS.JWT]: {
    image: jwt,
    name: "JWT",
  },
  [CHIPS_TAGS.MARIADB]: {
    image: mariadb,
    name: "MariaDB",
  },
  [CHIPS_TAGS.MUI]: {
    image: mui,
    name: "MUI",
  },
  [CHIPS_TAGS.MYSQL]: {
    image: mysql,
    name: "MySQL",
  },
  [CHIPS_TAGS.NEXT]: {
    image: next,
    name: "Next.js",
  },
  [CHIPS_TAGS.REACT_ROUTER]: {
    image: reactRouter,
    name: "React Router",
  },
  [CHIPS_TAGS.SPRING]: {
    image: spring,
    name: "Spring",
  },
  [CHIPS_TAGS.TYPESCRIPT]: {
    image: typescript,
    name: "TypeScript",
  },
  [CHIPS_TAGS.TAILWIND]: {
    image: tailwind,
    name: "Tailwind CSS",
  },
  [CHIPS_TAGS.REDUX]: {
    image: redux,
    name: "Redux",
  },
  [CHIPS_TAGS.EXPRESS]: {
    image: express,
    name: "Express",
  },
};
---

<div class="chips">
  {
    data?.map((chip) => (
      <div class="chip">
        <Image src={chipData[chip]?.image} alt={chipData[chip]?.name} />
        <span>{chipData[chip]?.name}</span>
      </div>
    ))
  }
</div>
<style>
  .chips {
    display: flex;
    gap: 0.3rem 0.5rem;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .chip {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    background-color: var(--chips);
    padding: 0.25rem 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid var(--line);
    color: var(--text-tertiary);
  }
  img {
    width: 15px;
    height: 15px;
  }
</style>
