---

---

<section id="projects">
  <div class="experience">
    <div class="date">
      <p>Ene. 2022 - Actualmente</p>
      <p>Rosario, Argentina</p>
    </div>
    <div class="info">
      <p class="title">Desarrollador de software - Ingeniería Boggio</p>
      <div class="description">
        <p>
          <u>Migración de arquitectura:</u> Transición de una aplicación monolítica
          en Python Flask hacia una arquitectura moderna basada en un backend API
          desarrollado con Flask y un frontend PWA desarrollado con React.js. Mejorando
          la escalabilidad, robustez y mantenibilidad del proyecto.
        </p>
        <p>
          <u>Desarrollo continuo y mantenimiento:</u> Desarrollo y mantenimiento
          continuo de nuevas funcionalidades del proyecto Trini Talkbot, especializado
          en la creación y gestión de chatbots. Incluye, entre otras, el sistema
          de chat en tiempo real, la creación de un tablero de analíticas interactivo
          para la visualización de datos clave, la sección de conectores para integrarse
          con diversos servicios, y la sección de campañas para enviar múltiples
          mensajes a distintos contactos.
        </p>
        <p>
          <u>Implementación de pruebas automatizadas:</u> Creación de un sistema
          de pruebas automatizadas, mejorando la calidad del código.
        </p>
        <p>
          <u>Diseño y UI/UX:</u> Diseño y maquetación de la interfaz de usuario,
          mejorando la usabilidad y la estética general de la aplicación.
        </p>
      </div>
    </div>
  </div>
</section>
<style>
  .experience {
    display: flex;
    width: 100%;
  }
  .date {
    width: 25%;
    color: rgb(207, 207, 207);
    font-size: 1rem;
  }
  .info {
    width: 75%;
    padding-left: 0.3rem;
    font-size: 1.1rem;
  }
  .title {
    font-weight: bold;
    font-size: 18px;
  }
  .description {
    color: rgb(207, 207, 207);
  }
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
</style>
