---
import Language from "./Language.astro";
import Theme from "./Theme.astro";

const year = new Date().getFullYear();
const { copy, buttons } = Astro.props;
---

<footer>
  <div class="left-footer">
    <Language buttons={buttons} />
    <Theme buttons={buttons} />
  </div>
  <div><span>© {year} Damian Barzola. {copy}.</span></div>
</footer>
<style>
  footer {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    align-items: center;
    color: var(--text-tertiary);
    font-size: 0.8rem;
    animation: fadeIn 1s ease-in-out;
  }
  .left-footer {
    display: flex;
    gap: 2rem;
  }
  @media screen and (max-width: 768px) {
    footer {
      padding: 1rem 0.5rem;
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
