---
import Language from "./Language.astro";

const year = new Date().getFullYear();
const { copy } = Astro.props;
---

<footer>
  <div>
    <Language />
  </div>
  <div><span>© {year} Damian Barzola. {copy}.</span></div>
</footer>
<style>
  footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 0.5rem 3rem;
    align-items: center;
    color: var(--text-tertiary);
    font-size: 0.8rem;
    animation: fadeIn 1s ease-in-out;
  }
  @media screen and (max-width: 768px) {
    footer {
      padding: 1rem 0.5rem;
    }
  }
</style>
