---
import AboutSection from "./AboutSection.astro";
import ExperienceSection from "./ExperienceSection.astro";
import EducationSection from "./EducationSection.astro";
import Menu from "./Menu.astro";
import Socials from "./Socials.astro";

const { translations } = Astro.props;
---

<main id="container">
  <section>
    <div class="contact-info">
      <h1>Damian Barzola</h1>
      <h3>{translations?.profession}</h3>
      <Socials />
    </div>
    <Menu />
  </section>
  <section class="info">
    <AboutSection />
    <ExperienceSection />
    <EducationSection />
  </section>
</main>
<script is:inline>
  let sections = document.querySelectorAll("section[id]");
  let navLinks = document.querySelectorAll("ul li a");
  let sectionsContainer = document.querySelector("section.info");

  console.log("Secciones encontradas:", sections.length);
  sectionsContainer.onscroll = () => {
    sections.forEach((sec) => {
      let top = sectionsContainer.scrollTop;
      let offset = sec.offsetTop - 250; // Ajuste para detectar antes
      let height = sec.offsetHeight;
      let id = sec.getAttribute("id");
      console.log("Top:", top, "Offset:", offset, "Height:", height, "ID:", id);

      if (top >= offset && top < offset + height) {
        navLinks.forEach((link) => {
          link.classList.remove("active");
        });

        let activeLink = document.querySelector(`ul li a[href*="${id}"]`);
        if (activeLink) {
          activeLink.classList.add("active");
        }
      }
    });
  };
</script>

<style>
  #container {
    height: 78dvh;
    animation: fadeIn 1s ease-in-out;
  }
  main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 4rem 3rem 0 3rem;
  }

  section {
    align-items: start;
    flex-direction: column;
    width: 100%;
  }
  hr {
    width: 99%;
    margin: 2rem 0;
    border: var(--line) 1px solid;
  }
  h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    margin: 0;
    font-weight: 800;
  }
  h3 {
    font-size: 1.3rem;
    margin: 1rem 0;
    color: var(--text-secondary);
  }
  .info {
    overflow: auto;
    scrollbar-gutter: stable;
  }

  @media screen and (max-width: 768px) {
    #container {
      height: 100%;
    }
    main {
      flex-direction: column;
      padding: 2rem 1rem;
    }
    .contact-info {
      min-height: 100dvh;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }
  @media screen and (max-height: 368px) {
    main {
      flex-direction: column;
    }
  }
</style>
