---
import astroLogo from "../assets/astro.svg";
import Socials from "./Socials.astro";
---

<main id="container">
  <section>
    <div class="contact-info">
      <h1>Damian Barzola</h1>
      <h3>Ingeniero en sistemas de información</h3>
      <p>damianebarzola@gmail.com</p>
      <p>+543465449961</p>
      <p>Rosario, Argentina</p>
      <Socials />
    </div>
  </section>
  <section></section>
</main>

<style>
  #container {
    font-family: Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
      sans-serif;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgb(0 0 0) 0%,
      rgb(6 6 6) 35%,
      #121212 100%
    );
    color: white;
  }

  main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 4rem;
  }

  section {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
  }

  h1 {
    font-size: 3.5rem;
    letter-spacing: 0.25rem;
    margin: 1rem 0;
  }
  h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  @media screen and (max-width: 768px) {
    main {
      flex-direction: column;
    }
  }
  @media screen and (max-height: 368px) {
    main {
      flex-direction: column;
    }
  }
</style>
