---
const currentLang = new URL(Astro.url).pathname.split("/")[1];
---

<div class="language-container">
  <a href="/es" class={currentLang === "es" ? "active" : ""}>Es</a>
  <a href="/en" class={currentLang === "en" ? "active" : ""}>En</a>
</div>
<style>
  .language-container {
    display: flex;
    gap: 1dvw;
  }
  .language-container a {
    padding: 0.4rem 0.6rem;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--text-secondary);
    text-decoration: none;
    transition: 0.3s ease all;
  }
  .language-container .active {
    cursor: pointer;
    background-color: var(--text-primary);
    color: rgb(39, 39, 39);
  }
  .language-container a:hover {
    color: var(--text-primary);
  }
  .language-container .active:hover {
    color: black;
  }
</style>
