---
import TranslateIcon from "../assets/translate.svg";
const currentLang = new URL(Astro.url).pathname.split("/")[1];
---

<div class="language-container">
  <div class="translate-icon">
    <TranslateIcon />
  </div>
  <div class="separator"></div>
  <a href="/es" class={currentLang === "es" ? "active" : ""}>Es</a>
  <a href="/en" class={currentLang === "en" ? "active" : ""}>En</a>
</div>
<style>
  .language-container {
    display: flex;
    gap: 1dvw;
    background-color: var(--card);
    border: 1px solid var(--line);
    border-radius: 0.4rem;
    padding: 0.3rem 0.4rem;
  }
  .translate-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    height: 1.2rem;
    fill: var(--text-secondary);
  }
  .separator {
    width: 2px;
    margin: 3px 0;
    background-color: var(--line);
  }
  .language-container a {
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
    color: var(--text-secondary);
    text-decoration: none;
    transition: 0.3s ease all;
  }
  .language-container .active {
    cursor: pointer;
    background-color: var(--text-primary);
    color: rgb(39, 39, 39);
  }
  .language-container a:hover {
    color: var(--text-primary);
  }
  .language-container .active:hover {
    color: var(--black);
  }
</style>
