---

---

<div>
  <ul>
    <li><a href="#about">Perfil Profesional</a></li>
    <li><a href="#projects">Experiencia Laboral</a></li>
    <li><a href="#education">Formación</a></li>
    <!-- <li><a href="#skills">Habilidades</a></li> -->
  </ul>
</div>
<style>
  ul {
    list-style: none;
    font-size: 1.4rem;
    margin: 2.5rem 0;
    padding: 0;
  }
  li {
    margin: 1.5rem 0;
    cursor: pointer;
  }
  a {
    color: white;
    text-decoration: none;
  }
</style>
