---
const params = Astro.params;

const currentLang = params.lang || "es";
---

<!doctype html>
<html lang={currentLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="alternate" hreflang="en" href="/en" />
    <link rel="alternate" hreflang="es" href="/es" />
    <title>Portfolio</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<script>
  //
</script>
<style is:global>
  :root {
    --black: #000000;
    --blue: #14213d;
    --gold: #ffb300;
    --platinum: #e5e5e5;
    --white: #ffffff;

    --text-primary: var(--white);
    --text-secondary: var(--platinum);
    --text-tertiary: #b1b1b1;

    --card: rgb(28 28 28 / 49%);
    --chips: #181818;

    --bg-gradient: linear-gradient(
      180deg,
      rgb(2 7 26) 0%,
      rgb(1 6 19) 35%,
      #01010f 100%
    );

    --line: rgb(24, 24, 24);
  }
  [data-theme="light"] {
    --text-primary: var(--black);
    --text-secondary: #202020;
    --text-tertiary: #464646;

    --card: rgb(255 255 255 / 50%);
    --chips: #ebebeb;
    --bg-gradient: linear-gradient(
      180deg,
      rgb(255 255 255) 0%,
      rgb(239 239 239) 35%,
      #cdcdcd 100%
    );

    --line: rgb(190, 190, 190);
  }
  html {
    min-height: 100dvh;
    background: var(--bg-gradient);
  }
  html,
  body {
    margin: 0;
    width: 100%;
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
    color: var(--text-primary);
  }
  body {
    height: 100%;
  }

  section[id] {
    min-height: 73dvh;
    margin-top: 5dvh;
    padding-bottom: 5dvh;
    border-bottom: 1px solid var(--line);
  }
  section[id]:first-of-type {
    margin-top: 0;
    padding-top: 0;
  }
  section[id]:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .section-title {
    display: none;
  }
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }

  *::-webkit-scrollbar-track:hover {
    background-color: transparent;
  }

  *::-webkit-scrollbar-track:active {
    background-color: transparent;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #bcbcbc;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #d6d6d6;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: #ffffff;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @media screen and (max-width: 768px) {
    section[id] {
      min-height: 50dvh;
      margin-top: 8dvh;
      padding-bottom: 8dvh;
      border-bottom: none;
    }
    .section-title {
      display: block;
      color: var(--text-primary);
      font-weight: 700;
      font-size: 1.7rem;
      padding-bottom: 5px;
      margin-bottom: 20px;
      border-bottom: var(--text-secondary) solid 2px;
    }
  }
</style>
